* {
  margin: 0;
  padding: 0;
}

/* This projet will just use BEM */
/* Popup */

/* Options */
.nav-section {
  background-color: lightgray;
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav-section h1 {
  padding-left: 1rem;
}

.button__colorPick {
  height: 4rem;
  width: 4rem;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

.button__colorPick.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
